*.egg-info
*.mo
*.pyc
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
bin/
buildout-cache/
develop-eggs/
parts/
src/*
!src/medialog
var/
htmlcov/
.coverage
*.log
output.xml
*.swp
log.html
report.html

.DS_Store

src/medialog/capchawidget/profiles/.DS_Store

*.pyc

*.pyc

*.pyc

*.pyc
